*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
   
}
header{
    display: grid;
    Grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
    grid-template-rows: [inicio] 200px [inicio2]200px [final];
    height: 100vh;
    gap: 5px;
}
.item{
    background-color: lightblue;
    border: red solid 1px;
}
.item:nth-of-type(1){
    grid-column: inicio / destacado-end;
    grid-row: inicio/ final;
}
.item:nth-of-type(2){
    grid-column: destacado-end / destacado2-end;
    grid-row: inicio / final;
}

.item:nth-of-type(3){
    grid-column: destacado2-end / final;
}


